<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      .react-live {
        position: relative;
        z-index: 1;
      }
    </style>
    <title>{{ title }}</title>
    {{ head }}
  </head>
  <body>
    <div id="modal-root" />
    <div id="root" />
    {{ footer }}
  </body>
</html>
